/* .hidden {
  opacity: 0;
  transition: opacity 3s ease;
} */
/* App.css */
.alert {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease, visibility 1s ease;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}
